---
- name: Create Prometheus configuration directory
  file:
    path: /opt/prometheus
    state: directory

- name: Copy Prometheus configuration
  copy:
    src: prometheus.yml
    dest: /opt/prometheus/prometheus.yml

- name: Run Prometheus container
  shell: |
    docker run -d \
      --name prometheus \
      -p {{ prometheus_port }}:9090 \
      -v /opt/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml \
      prom/prometheus
  ignore_errors: yes

- name: Run Grafana container
  shell: |
    docker run -d \
      --name grafana \
      -p {{ grafana_port }}:3000 \
      grafana/grafana
  ignore_errors: yes

