---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Python 3 and pip
  apt:
    name:
      - python3
      - python3-pip
    state: present

- name: Install Ansible
  pip:
    name: ansible
    executable: pip3

- name: Install required Ansible collections
  command: ansible-galaxy collection install community.docker community.aws
  args:
    creates: /usr/local/lib/python3.10/dist-packages/ansible_collections/community/docker
