# Terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# CLI configuration
.terraformrc
terraform.rc

# EC2 SSH keys
*.pem
*.ppk

