- name: Create grafana data directory
  file:
    path: /opt/grafana
    state: directory

- name: Pull Grafana image
  docker_image:
    name: grafana/grafana
    source: pull

- name: Run Grafana container
  docker_container:
    name: grafana
    image: grafana/grafana
    state: started
    restart_policy: always
    ports:
      - "3000:3000"
    volumes:
      - /opt/grafana:/var/lib/grafana
