global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'web_servers'
    static_configs:
      - targets: ['10.0.0.5:9100']
