- name: Create prometheus config directory
  file:
    path: /opt/prometheus
    state: directory

- name: Create prometheus.yml
  copy:
    dest: /opt/prometheus/prometheus.yml
    content: |
      global:
        scrape_interval: 15s
      scrape_configs:
        - job_name: 'web-server'
          static_configs:
            - targets: ['10.0.0.5:9100']

- name: Pull Prometheus image
  docker_image:
    name: prom/prometheus
    source: pull

- name: Run Prometheus container
  docker_container:
    name: prometheus
    image: prom/prometheus
    state: started
    restart_policy: always
    volumes:
      - /opt/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
