---
- name: Clone Web App repo
  git:
    repo: "{{ web_app_repo }}"
    dest: /home/ubuntu/my-devops-project
    version: main

- name: Build Docker image
  docker_image:
    name: "{{ web_app_image }}"
    path: /home/ubuntu/my-devops-project
    state: present

- name: Run Web App container
  docker_container:
    name: web_app
    image: "{{ web_app_image }}"
    state: started
    restart_policy: always
    ports:
      - "80:80"
