- name: Log in to ECR
  community.aws.aws_ecr_login:
    registry_ids:
      - "{{ lookup('env','AWS_ACCOUNT_ID') }}"
    region: ap-southeast-1

- name: Pull Web App Docker image from ECR
  community.docker.docker_image:
    name: "{{ web_app_image }}"
    source: pull
    tag: latest

- name: Run Web App container
  community.docker.docker_container:
    name: my-devops-project
    image: "{{ web_app_image }}"
    state: started
    ports:
      - "80:80"
    restart_policy: always

