- name: Base Configuration (Docker)
  hosts: all
  become: true
  gather_facts: false
  roles:
    - docker

- name: Deploy Web Application
  hosts: web
  become: true
  gather_facts: false
  roles:
    - web

- name: Deploy Monitoring Stack
  hosts: monitoring
  become: true
  gather_facts: false
  roles:
    - monitoring
