---
- name: Setup Infrastructure
  hosts: all
  become: true
  tasks:
    - name: Update apt and install Docker
      apt:
        name: docker.io
        update_cache: yes
        state: present

- name: Configure Web Server
  hosts: webserver
  become: true
  tasks:
    - name: Run Web App Container
      docker_container:
        name: web-app
        image: nginx:latest
        state: started
        published_ports:
          - "80:80"

- name: Configure Monitoring
  hosts: monitoring
  become: true
  tasks:
    - name: Run Grafana
      docker_container:
        name: grafana
        image: grafana/grafana:latest
        state: started
        published_ports:
          - "3000:3000"
