---
- name: Setup Docker on all servers
  hosts: all
  become: yes
  roles:
    - docker_setup

- name: Deploy Web Application
  hosts: webservers
  become: yes
  roles:
    - web_app

- name: Setup Monitoring (Prometheus + Grafana)
  hosts: monitoring
  become: yes
  roles:
    - monitoring
