- name: Setup Docker on all servers
  hosts: all
  become: yes
  roles:
    - docker

- name: Deploy Web Application
  hosts: webservers
  become: yes
  roles:
    - web

- name: Deploy Monitoring Stack
  hosts: monitoring
  become: yes
  roles:
    - monitoring

- name: Build Docker image
  community.docker.docker_image:
    path: /home/ubuntu/my-devops-project
    name: "{{ web_app_image | default('devops-bootcamp/final-project-faridamirul:latest') }}"
    tag: latest
