---
- name: Deploy Web Server
  hosts: web
  become: yes
  tasks:
    - name: Update and upgrade apt
      apt:
        update_cache: yes
        upgrade: dist
        cache_valid_time: 3600

    - name: Install dependencies
      apt:
        name:
          - docker.io
          - docker-compose
          - unzip
          - curl
          - git
        state: present

    - name: Install AWS CLI v2
      shell: |
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
        unzip -o /tmp/awscliv2.zip -d /tmp
        sudo /tmp/aws/install --update
      args:
        creates: /usr/local/bin/aws


    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Login to ECR using instance role
      ansible.builtin.shell:
        cmd: >
          aws ecr get-login-password --region ap-southeast-1
          | docker login --username AWS --password-stdin 938674806440.dkr.ecr.ap-southeast-1.amazonaws.com
      args:
        executable: /bin/bash

    - name: Pull Docker image from ECR
      community.docker.docker_image:
        name: 938674806440.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-faridamirul
        tag: Latest
        source: pull

    - name: Run Docker container
      community.docker.docker_container:
        name: final-project
        image: 938674806440.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-faridamirul:Latest
        state: started
        restart_policy: unless-stopped
        ports:
          - "80:80"

- name: Deploy Monitoring Stack
  hosts: monitoring
  become: true
  vars:
    prometheus_dir: /home/ssm-user/devops-bootcamp-project/monitoring
    prometheus_config: "{{ prometheus_dir }}/prometheus.yml"
    docker_compose_file: "{{ prometheus_dir }}/docker-compose.yml"

  tasks:
    - name: Ensure monitoring directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - "{{ prometheus_dir }}"
        - "{{ prometheus_dir }}/prometheus"

    - name: Deploy Prometheus config
      copy:
        dest: "{{ prometheus_config }}"
        content: |
          global:
            scrape_interval: 15s

          scrape_configs:
            - job_name: 'prometheus'
              static_configs:
                - targets: ['localhost:9090']
        mode: '0644'

    - name: Deploy Docker Compose file
      copy:
        dest: "{{ docker_compose_file }}"
        content: |
          version: "3.9"

        services:
            prometheus:
              image: prom/prometheus:latest
              container_name: prometheus
              restart: unless-stopped
              ports:
                - "9090:9090"
              volumes:
                - ./prometheus:/etc/prometheus
              command:
                - "--config.file=/etc/prometheus/prometheus.yml"

            grafana:
              image: grafana/grafana:latest
              container_name: grafana
              restart: unless-stopped
              ports:
                - "3000:3000"
              environment:
                - GF_SECURITY_ADMIN_USER=admin
                - GF_SECURITY_ADMIN_PASSWORD=admin
              volumes:
                - grafana_data:/var/lib/grafana

        volumes:
            grafana_data:
        mode: '0644'

    - name: Ensure Docker CLI Compose plugin directory exists
      file:
        path: /usr/local/lib/docker/cli-plugins
        state: directory
        mode: '0755'

    - name: Download Docker Compose V2 binary manually
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.40.1/docker-compose-linux-x86_64
        dest: /usr/local/lib/docker/cli-plugins/docker-compose
        mode: '0755'

    - name: Verify Docker Compose plugin installation
      command: docker compose version
      register: compose_version
      changed_when: false

    - debug:
        msg: "Docker Compose installed: {{ compose_version.stdout }}"

    - name: Remove old Grafana and Prometheus containers
      community.docker.docker_container:
        name: "{{ item }}"
        state: absent
      loop:
        - grafana
        - prometheus

    - name: Start Monitoring Stack
      community.docker.docker_compose_v2:
        project_src: "{{ prometheus_dir }}"
        state: present
        recreate: auto
