- hosts: all
  become: yes
  tasks:
    - name: Update and upgrade apt
      apt:
        update_cache: yes
        upgrade: dist

- hosts: webservers
  become: yes
  roles:
    - webserver

- hosts: monitoring
  become: yes
  roles:
    - monitoring
