---
- name: Deploy Web Server
  hosts: web
  become: yes
  tasks:
    - name: Update and upgrade apt
      apt:
        update_cache: yes
        upgrade: dist
        cache_valid_time: 3600

    - name: Install dependencies
      apt:
        name:
          - docker.io
          - docker-compose
          - unzip
          - curl
          - git
        state: present

    - name: Install AWS CLI v2
      shell: |
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
        unzip -o /tmp/awscliv2.zip -d /tmp
        sudo /tmp/aws/install --update
      args:
        creates: /usr/local/bin/aws


    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Login to ECR using instance role
      ansible.builtin.shell:
        cmd: >
          aws ecr get-login-password --region ap-southeast-1
          | docker login --username AWS --password-stdin 938674806440.dkr.ecr.ap-southeast-1.amazonaws.com
      args:
        executable: /bin/bash

    - name: Pull Docker image from ECR
      community.docker.docker_image:
        name: 938674806440.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-faridamirul
        tag: Latest
        source: pull

    - name: Run Docker container
      community.docker.docker_container:
        name: final-project
        image: 938674806440.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-faridamirul:Latest
        state: started
        restart_policy: unless-stopped
        ports:
          - "80:80"

- name: Deploy Monitoring Stack
  hosts: monitoring
  become: true
  vars:
    prometheus_dir: /opt/monitoring
    prometheus_config: "{{ prometheus_dir }}/prometheus.yml"
    docker_compose_file: "{{ prometheus_dir }}/docker-compose-monitoring.yml"

  tasks:
    - name: Ensure monitoring directory exists
      file:
        path: "{{ prometheus_dir }}"
        state: directory
        mode: '0755'

    - name: Deploy Prometheus config
      template:
        src: templates/prometheus.yml.j2
        dest: "{{ prometheus_config }}"
        mode: '0644'

    - name: Deploy Docker Compose file
      template:
        src: templates/docker-compose-monitoring.yml.j2
        dest: "{{ docker_compose_file }}"
        mode: '0644'

    - name: Remove old Grafana and Prometheus containers
      community.docker.docker_container:
        name: "{{ item }}"
        state: absent
      loop:
        - grafana
        - prometheus

    - name: Start Monitoring Stack
      community.docker.docker_compose_v2:
        project_src: "{{ prometheus_dir }}"
        state: present
        recreate: auto