---
- name: Deploy Web Server
  hosts: web
  become: yes
  tasks:
    - name: Update and upgrade apt
      apt:
        update_cache: yes
        upgrade: dist
        cache_valid_time: 3600

    - name: Install dependencies
      apt:
        name:
          - docker.io
          - docker-compose
          - unzip
          - curl
          - git
        state: present

    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install Amazon ECR Docker Credential Helper
      get_url:
        url: https://github.com/aws/amazon-ecr-credential-helper/releases/download/v0.7.0/docker-credential-ecr-login-v0.7.0-linux-amd64.tar.gz
        dest: /tmp/docker-credential-ecr-login.tar.gz

    - name: Extract and move ECR credential helper
      unarchive:
        src: /tmp/docker-credential-ecr-login.tar.gz
        dest: /usr/local/bin
        remote_src: yes
        mode: '0755'

    - name: Configure Docker to use ECR credential helper
      copy:
        dest: /home/ssm-user/.docker/config.json
        content: |
          {
            "credHelpers": {
              "i938674806440.dkr.ecr.ap-southeast-1.amazonaws.com": "ecr-login"
            }
          }
        owner: ssm-user
        group: ssm-user
        mode: '0600'

    - name: Pull Docker image from ECR
      docker_image:
        name: i938674806440.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-faridamirul
        tag: latest
        source: pull

    - name: Run Docker container
      docker_container:
        name: final-project
        image: i938674806440.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-faridamirul:latest
        state: started
        restart_policy: unless-stopped
        ports:
          - "80:80"


- name: Deploy Monitoring Server
  hosts: monitoring
  become: yes
  tasks:
    - name: Update and upgrade apt
      apt:
        update_cache: yes
        upgrade: dist
        cache_valid_time: 3600

    - name: Install Docker and Docker Compose
      apt:
        name:
          - docker.io
          - docker-compose
        state: present

    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create Prometheus directory
      file:
        path: /opt/prometheus
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Create Monitoring directory
      file:
        path: /opt/monitoring
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Create Prometheus config
      template:
        src: prometheus.yml.j2
        dest: /opt/prometheus/prometheus.yml
        owner: root
        group: root
        mode: '0644'

    - name: Create Docker Compose file
      template:
        src: docker-compose-monitoring.yml.j2
        dest: /opt/monitoring/docker-compose.yml
        owner: root
        group: root
        mode: '0644'

    - name: Start Monitoring Stack
      command: docker-compose up -d
      args:
        chdir: /opt/monitoring

    - name: Cloudflare Tunnel Reminder
      debug:
        msg: "Please install cloudflared on monitoring server and create a tunnel for monitoring.frdamirul.com"
