- name: Deploy Docker image on SSM-managed servers
  hosts: all
  gather_facts: no   # disables fact gathering to avoid NoneType errors
  vars:
    image_name: devops-bootcamp/final-project-faridamirul
    image_tag: latest
    ecr_region: ap-southeast-1
    aws_account_id: "938674806440"  # replace with your AWS account ID
    ecr_uri: "{{ aws_account_id }}.dkr.ecr.{{ ecr_region }}.amazonaws.com/{{ image_name }}:{{ image_tag }}"
  tasks:

    - name: Log in to AWS ECR
      shell: |
        aws ecr get-login-password --region {{ ecr_region }} | \
        docker login --username AWS --password-stdin {{ aws_account_id }}.dkr.ecr.{{ ecr_region }}.amazonaws.com
      args:
        executable: /bin/bash

    - name: Stop existing container if running
      shell: |
        docker stop final-project || true
        docker rm final-project || true
      ignore_errors: yes

    - name: Pull latest Docker image from ECR
      shell: |
        docker pull {{ ecr_uri }}
      args:
        executable: /bin/bash

    - name: Run Docker container
      shell: |
        docker run -d --name final-project -p 80:80 {{ ecr_uri }}
      args:
        executable: /bin/bash
